﻿@model m_151.Models.User

<h2>Login</h2>
@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.Username);
    @Html.TextBoxFor(m => m.Username);
    @Html.LabelFor(m => m.Password);
    @Html.PasswordFor(m => m.Password);
}
<div>
    @Html.ActionLink("Register as a new User", "Register")
</div>
